@import "@/styles/variables.scss";
@import "@/styles/mixins.scss";

.social {
  @include max-width;
  background-color: $primary;
  padding: 6rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  max-height: 48rem;

  .content {
    max-width: 50rem;
    display: flex;
    flex-direction: column;

    h2 { 
      text-transform: uppercase;
    }

    p {
      margin-top: 2rem;
      margin-bottom: 8rem;
    }
  }

  .image {
    filter: drop-shadow(0.3rem 0.6rem 1rem rgba($black, 0.25));
    -webkit-filter: drop-shadow(0.3rem 0.6rem 1rem rgba($black, 0.25));
    margin-top: -10rem;
  }
}